// Nav Bar
$color-nav-bar-background: rgb(45, 46, 48);

// Page
$color-page-background: rgb(27, 28, 29);

// Text
$color-text-h1: white;
$color-text-h2: white;
$color-text-p: white;
$color-text-button: white;

// Footer
$color-footer-background: rgb(45, 46, 48);

// Content
$color-content-background: rgb(40, 42, 43);
